In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.externals import joblib

In [11]:
dataset_url = 'http://mlr.cs.umass.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
data = pd.read_csv(dataset_url,sep = ';')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [16]:
data.shape

(1599, 12)

In [18]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [23]:
y = data.quality
X = data.drop('quality', axis = 1)

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=123, 
                                                    stratify=y)

In [25]:
X_train_scaled = preprocessing.scale(X_train)

In [29]:
X_train_scaled.mean(axis=0)

array([ 1.16664562e-16, -3.05550043e-17, -8.47206937e-17, -2.22218213e-17,
        2.22218213e-17, -6.38877362e-17, -4.16659149e-18, -2.54439854e-15,
       -8.70817622e-16, -4.08325966e-16, -1.17220107e-15])

In [38]:
x = range (2,11)
for elem in x:
    print(elem)

2
3
4
5
6
7
8
9
10

In [39]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [41]:
if len (a) > len (b) :

13

In [1]:
import sys
sys.path

['',
 'C:\\Users\\User\\Anaconda3\\python36.zip',
 'C:\\Users\\User\\Anaconda3\\DLLs',
 'C:\\Users\\User\\Anaconda3\\lib',
 'C:\\Users\\User\\Anaconda3',
 'C:\\Users\\User\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\User\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\User\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\User\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\User\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\User\\.ipython']

In [1]:
import pandas as pd
import numpy as np
import itertools

In [42]:
df = pd.DataFrame({'A': [1,2 ,3 ], 'B': [1, 1, np.nan],'C': [1, 1, np.nan]})
df

   A    B    C
0  1  1.0  1.0
1  2  1.0  1.0
2  3  NaN  NaN

In [43]:
c =[3]

In [46]:
df.loc[~df['A'].isin(c),'C'] = np.nan

In [47]:
df

   A   B   C
0  1 NaN NaN
1  2 NaN NaN
2  3 NaN NaN

In [58]:
df.loc[~df['A'].isin(c),'A'] = np.nan

In [59]:
if not ('A_DELETE') in df.columns:
    df['A_DELETE'] =np.nan

In [60]:
x = 10
x > 10

if not x > 10:
    print('apam')

apam

In [67]:
df.loc[0,'A_DELETE'] = 'apam'
df

     A  B A_DELETE
0  1.0  a     apam
1  2.0  b      NaN
2  NaN  f      NaN

In [80]:
(df[df['A']!=1]['B'].notnull())

1    True
2    True
Name: B, dtype: bool

In [48]:
        cl1 = [['HB000102_1', 'HB000102_2', 'HB000102_3', 'HB000102_4', 'HB000000_1_1'],
               ['HB000101_1', 'HB000101_2', 'HB000101_3', 'HB000101_4', 'HB000000_1_2'],
               ['HB000202_1', 'HB000202_2', 'HB000202_3', 'HB000202_4', 'HB000000_1_3'],
               ['HB000205_1', 'HB000205_2', 'HB000205_3', 'HB000205_4', 'HB000000_1_4'],
               ['HB000205_5', 'HB000205_6', 'HB000205_7', 'HB000205_8', 'HB000000_1_5'],
               ['HB000207_1', 'HB000207_2', 'HB000207_3', 'HB000207_4', 'HB000000_1_6'],
               ['HB000203_1', 'HB000203_2', 'HB000203_3', 'HB000203_4', 'HB000000_1_9'],
               ['HB000206_1', 'HB000206_2', 'HB000206_3', 'HB000206_4', 'HB000000_2_1']]

In [1]:
cl1 = ['MC000102_10','MC000102_11','MC000102_12','MC000102_13']

In [8]:
for x in range (len(cl1)):
    print (cl1[x])

MC000102_10
MC000102_11
MC000102_12
MC000102_13

In [4]:
cl1[0]

'MC000102_10'

In [58]:
cl1[][1]

'HB000102_2'

In [59]:
for j in [0,1]:
    print(j)

0
1